body {
  background-color: lightgray;

}

h1 {
  font-family: verdana;
}

div {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}


input {
  height: 2rem;
}

button {
  height: 2rem;
}

.grid-layout {
height: 100%;
width: 100%;
}
.grid-square {
 border: 1px solid black;
 width: 1rem;
 height: 1rem;
}

.grid-row-start {
width:100%;
}

.clicked {
background-color: blue;
}

